body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

/*
.resources, .updates {
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 20px;
}
*/

.collapsible-content {
    display: none; /* Ensure content is collapsed by default */
}

.collapsible-header {
    /*
    background-color: #f1f1f1;
    padding: 10px;  
    
    */
    transition: background-color 0.3s;
    align-items: center;
    display: flex;
    cursor: pointer;
}

.collapsible-header:hover {
    background-color: #e0e0e0;
}

.icon {
    margin-right: 10px;
    transition: transform 0.3s;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border-bottom: 1px solid #000;
    padding: 10px;
    vertical-align: top;
    border-left: none;
    border-right: none;
}

th {
    background-color: #f2f2f2;
}

.no-border {
    border: none;
}

.links a {
    display: block;
    margin-bottom: 5px;
    text-decoration: none;
    color: #000;
}

.horizontal-line {
    border-bottom: 1px solid #000;
    margin: 20px 0;
}